.container {
  composes: container from '../../Assets/bootstrap.min.css';
}

.row {
  composes: row from '../../Assets/bootstrap.min.css';
}

.smCol {
  composes: col-lg-12 from '../../Assets/bootstrap.min.css';
  composes: col-md-12 from '../../Assets/bootstrap.min.css';
  composes: col-sm-12 from '../../Assets/bootstrap.min.css';
  composes: col-xs-12 from '../../Assets/bootstrap.min.css';
}

.xs6 {
  composes: smCol;
  composes: col-xs-6 from '../../Assets/bootstrap.min.css';
}

.btnGrp {
  width: 100%;
}

.btn {
  composes: btn from '../../Assets/bootstrap.min.css';
  composes: btn-primary from '../../Assets/bootstrap.min.css';
  font-size: 18px;
  border: 1px solid #484859;
  border-radius: 5px;
  text-align: center;
  color: #484859;
  margin-bottom: 30px;
  background-color: #91e0f2;
}

.btn:hover {
    font-size: 18px;
    border: 1px solid #484859;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #484859;
}

.btn:active {
    background-color: #484859;
    color: white;
}

.gallery {
  composes: col-lg-4 from '../../Assets/bootstrap.min.css';
  composes: col-md-4 from '../../Assets/bootstrap.min.css';
  composes: col-sm-4 from '../../Assets/bootstrap.min.css';
  composes: col-xs-6 from '../../Assets/bootstrap.min.css';
  margin-bottom: 30px;
}

.imgFluid {
  composes: img-fluid from '../../Assets/bootstrap.min.css';
}

.title
{
    font-size: 36px;
    color: #484859;
    text-align: center;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 2em;
    text-decoration: none;
    text-transform: uppercase;
}
