
/********************************************FONTS**********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;900&display=swap');
@font-face {
   font-family: 'RockSalt';
      src: url('Assets/fonts/RockSalt-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
/***********************************************************************************************************/

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}
